[submodule "Core/Source/PolarCoordinates"]
	path = Core/Source/PolarCoordinates
	url = https://github.com/spiros-zer/PolarCoordinates.git
[submodule "Core/Source/CartesianCoordinates"]
	path = Core/Source/CartesianCoordinates
	url = https://github.com/spiros-zer/CartesianCoordinates.git
